* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:visited {
  color: white;
}

ul {
  list-style: none;
}

article {
  font-style: normal;
  text-align: justify;
  letter-spacing: 3px;
  line-height: 20px;
}

body {
  font-family: "Times New Roman", Helvetica, Arial;
  font-size: 15px;
  margin: auto;
  padding: auto;
  width: 100%;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
header .jorlandbrand {
  width: auto;
}
header .menu {
  width: 100%;
  display: flex;
  align-items: center;
  background: #000000;
}
header .menu ul {
  width: 100%;
  margin: 0.2% auto;
  padding: 0.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .menu ul li {
  width: 100px;
  margin: 15px;
  padding: 5px;
  border: 1px solid #ffffff;
}
header .menu ul li a {
  margin: 2px;
  font-size: 20px;
  color: #ffffff;
}
header .menu ul li a:hover {
  color: #6e6e6e;
  text-decoration: underline;
  transition: all 0.5s ease;
}
header .menu ul li:hover {
  border: 1px solid rgba(110, 110, 110, 0.5);
  transition: all 0.5s ease;
}

.main {
  background: #ffffff;
  width: 60%;
  margin: auto;
  padding: auto;
}
.main .container {
  background: #E5E3E3;
  margin: 20px;
  display: block;
}
.main .container h2 {
  text-align: center;
  font-size: 35px;
  font-style: italic;
  font-weight: bolder;
  margin: 2px;
}
.main .container h3 {
  font-style: italic;
  text-align: center;
  margin: 2px;
}
.main .container .img-article {
  width: auto;
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .container .img-article img {
  width: 400px;
}
.main .container article {
  width: 90%;
  margin: 20px;
  padding: 10px;
}
.main .container .proyect-gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .container .proyect-gallery .gallery-proyects {
  width: 250px;
  margin: 10px 5px;
  padding: 10px;
  border: 2px solid #000000;
  display: block;
}
.main .container .proyect-gallery .gallery-proyects .proyect-gal-img {
  width: auto;
  margin: auto;
}
.main .container .proyect-gallery .gallery-proyects .proyect-gal-img img {
  width: 200px;
  height: 150px;
  margin: 2px 10px;
  padding: 1px;
  opacity: 1;
}
.main .container .proyect-gallery .gallery-proyects .proyect-gal-img img:hover {
  opacity: 0.5;
}
.main .container .proyect-gallery .gallery-proyects:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.main .container .post-recent {
  width: 90%;
  margin: 10px;
  padding: 10px;
  display: block;
}
.main .container .post-recent .post-recent-content {
  width: 90%;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #000000;
}
.main .container .post-recent .post-recent-content:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.main .container .proyect-list {
  width: 90%;
  margin: 10px;
  padding: 10px;
  display: block;
}
.main .container .proyect-list .proyect-item {
  margin: 10px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .container .proyect-list .proyect-item .proyect-item-img {
  width: auto;
  margin: 10px 5px;
}
.main .container .proyect-list .proyect-item .proyect-item-img img {
  width: 200px;
  opacity: 1;
}
.main .container .proyect-list .proyect-item .proyect-item-img img:hover {
  opacity: 0.5;
}
.main .container .proyect-list .proyect-item h3 {
  font-style: italic;
  text-align: center;
}
.main .container .proyect-list .proyect-item .proyect-item-desc {
  margin: 10px;
}
.main .container .proyect-list .proyect-item:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.main .container .proyect-article {
  width: 90%;
  margin: 10px;
  padding: 10px;
}
.main .container .proyect-article .img-proyect-article {
  width: auto;
  margin: 1%;
  padding: 1%;
  display: flex;
  align-items: center;
}
.main .container .proyect-article .img-proyect-article img {
  width: 90%;
  margin: auto;
  padding: 0;
}
.main .container .proyect-article .desc-proyect-article {
  margin: 5px;
  padding: 10px;
}
.main .container .proyect-article .desc-proyect-article p a {
  color: #000000;
  text-decoration: underline;
}
.main .container .Post {
  width: 90%;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.main .container .Post .img-Post {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.main .container .Post .img-Post img {
  width: 400px;
  margin: 10px auto;
}
.main .container .Post .content-Post {
  margin: 20px;
  padding: 10px;
  text-align: center;
}
.main .container .Post .content-Post .date-content-Post {
  color: rgba(0, 0, 0, 0.5);
}

footer {
  width: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}
footer .rights {
  color: #ffffff;
  font-style: italic;
  width: 100%;
  order: 2;
  flex-grow: 1;
}
footer .rights p {
  margin: 0 40%;
}
footer .networks {
  width: 50%;
  display: flex;
  flex-direction: row;
  order: 1;
}
footer .networks .icon-net {
  font-size: 40px;
  width: 20%;
  margin: 0 auto;
}
footer .networks .icon-net a {
  width: 100%;
  margin: 60px;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 15px;
  }
  body header {
    width: 100%;
  }
  body header .jorlandbrand {
    width: 80%;
    margin: auto;
  }
  body header .jorlandbrand img {
    width: 80%;
    margin: 1% 10%;
  }
  body header .menu {
    width: 100%;
  }
  body header .menu ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  body header .menu ul li {
    width: 100px;
    margin: 10px;
  }
  body header .menu ul li a {
    font-size: 20px;
  }
  body .main {
    width: 95%;
  }
  body .main .container {
    margin: 10px;
  }
  body .main .container h2 {
    font-size: 30px;
  }
  body .main .container h3 {
    font-size: 20px;
  }
  body .main .container .img-article {
    width: 80%;
    margin: 25px auto;
  }
  body .main .container .img-article img {
    width: 200px;
    height: 150px;
  }
  body .main .container .proyect-gallery {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .main .container .proyect-gallery .gallery-proyects {
    margin: 10px auto;
  }
  body .main .container .post-recent {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
  }
  body .main .container .post-recent .post-recent-content {
    margin: 10px auto;
  }
  body .main .container .proyect-list .proyect-item {
    flex-direction: column;
  }
  body .main .container .proyect-article {
    padding: 10px;
  }
  body .main .container .proyect-article .img-proyect-article {
    width: 90%;
    margin: 20px auto;
  }
  body .main .container .proyect-article .img-proyect-article img {
    width: 200px;
    height: 150px;
  }
  body .main .container .Post {
    padding: 5px;
  }
  body .main .container .Post .img-Post {
    width: 80%;
  }
  body .main .container .Post .img-Post img {
    width: 150px;
    height: 100px;
  }
  body footer {
    width: 100%;
  }
  body footer .rights {
    width: 100%;
  }
  body footer .rights p {
    font-size: 8px;
    margin: 0 10%;
  }
  body footer .networks {
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
  }
  body footer .networks .icon-net {
    width: 15%;
    font-size: 20px;
  }
  body footer .networks .icon-net a {
    margin: 10px;
  }
}

/*# sourceMappingURL=masterstyles.css.map */
